# Configuração MongoDB
MONGO_DB_URI=your_mongodb_connection_string
MONGO_DB_NAME=Hackaton
MONGO_DB_USER_COLLECTION=Users
MONGO_DB_TRABALHOS_COLLECTION=Trabalhos
MONGO_DB_ENTREGAS_COLLECTION=Entregas

# Configuração NextAuth
NEXTAUTH_SECRET=your_nextauth_secret_key

# Configuração Assistente de IA - API Key para o serviço de IA
IA_API_KEY=sua_openai_api_key_aqui

# Modelo de linguagem a ser usado
IA_MODEL=exemplo-de-modelo

# Endpoint da API de IA
IA_ENDPOINT=https://api.openai.com/v1/chat/completions
