input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #b6b7b8;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

input[type='radio']:checked {
  background-color: #000;
}

.dark input[type='radio']:checked {
  background-color: #fff;
}
