@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030712;
  --font-color: #000000;
  --font-color-dark: #ffffff;
  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family);
  --font-mono: var(--font-family);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.dark body {
  background: var(--foreground);
  color: var(--font-color-dark);
}